<div class="container" id="header">
  <div class="row">
    <ul class="col d-flex justify-content-between mt-5 mb-5">
      <!-- <li class="col-2"><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/" class="text-uppercase fw-lighter">students</a></li> -->
      <li class="col-2"><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/students" class=" text-uppercase fw-lighter">students</a></li>
      <li class="col-2"><a routerLinkActive="active" routerLink="/students/5" class=" text-uppercase fw-lighter">students details</a></li>
      <li class="col-2"><a routerLinkActive="active" routerLink="/profile" class="text-uppercase fw-lighter">profile</a></li>
      <li class="col-2"><a routerLinkActive="active" routerLink="rtrtrty" class="text-uppercase fw-lighter">error</a></li>
    </ul>
  </div>
</div>
