<div class="container">
  <div class="row">
    <div class="col d-lg-flex  justify-content-around mt-4 mb-4">
      <section class="studentCard col-lg-3 rounded-3 p-4 mb-2" [appDirect]="{bgColor:'rgba(0, 0, 128,.5)',fColor:'yellow',shadow:'0 0 10px 1px rgba(153,153,153,.5)'}">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut incidunt a praesentium esse delectus autem et nobis voluptas, placeat recusandae atque alias commodi amet, id iusto nesciunt sint at. Commodi.</p>
      </section>

      <section class="studentCard col-lg-3 rounded-3 p-4 mb-2" [appDirect]="{bgColor:'rgba(255, 255, 255,.5)',fColor:'navy',shadow:'0 0 10px 1px rgba(255,255,255.5)'}">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut incidunt a praesentium esse delectus autem et nobis voluptas, placeat recusandae atque alias commodi amet, id iusto nesciunt sint at. Commodi.</p>
      </section>

      <section class="studentCard col-lg-3 rounded-3 p-4" [appDirect]="{bgColor:'rgba(255, 255, 0,.5)',fColor:'white',shadow:'0 0 10px 1px rgba(255,255,255,.5)'}">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut incidunt a praesentium esse delectus autem et nobis voluptas, placeat recusandae atque alias commodi amet, id iusto nesciunt sint at. Commodi.</p>
      </section>

    </div>
  </div>
</div>
